<!-- application/layouts/scripts/layout.phtml -->
<?=$this->doctype()?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>easisoft_hotel Application</title>
        <?=$this->headLink()->appendStylesheet('/css/global.css')?>
        <?=$this->headLink()->appendStylesheet('/css/style.css'); ?>
    </head>
    <body>

    	<div id="header" style="background-color: #EEEEEE; height: 30px; line-height: 30px">
            <?php $auth = Zend_Auth::getInstance();
            if($auth->hasIdentity()) {?>
                <ul class="without-margin" style="float: right ">
                    <li style="display: inline;"><a class="menu" href='/users'>Users</a></li>
                    <li style="display: inline;"><a class="menu" href='/hotels'>Hotels</a></li>
                    <li style="display: inline;"><a class="menu" href='/auth/logout'>Sign out</a></li>
                </ul>
            <?php };?>
    		<div id="header-logo" style="float: left">
    			<b>Hotel Management Application</b>
    		</div>
    	</div>
    		 
    	<?=$this->layout()->content;?>		
    </body>
</html>

