<b>welcome <?php echo Zend_Auth::getInstance()->getIdentity();?> </b>
<br />
<hr/>
<h2>Your hotels are:</h2>
<br />

<table>
<thead>
<tr>
     <th>Name</th>
     <th>Address</th>
     <th>Stars</th>
     <th>Price list</th>
  </tr>
</thead>
    <?php
    foreach ($this->entries as $entry) : ?>
    	<tr>
    	   <td>
    	       <a href='edit-hotel?id=<?=$this->escape($entry->getId())?>'><?=$this->escape($entry->name)?></a>
            </td> 
            <td><?=$this->escape($entry->address) ?></td>
            <td><?=($entry->stars !== ''? str_repeat('*',$entry->stars): "no stars") ?></td> 
    	    <td><span>[<!-- 
             --><?php foreach ($entry->priceList as $priceItem) : ?><!-- 
             --><?php   echo $this->escape($priceItem->getDesc());
                        echo ':';           
                        echo $this->escape($priceItem->getPrice()); ?>,
            <?php endforeach ?></span>]
            </td>
        </tr>
    <?php
    endforeach ?>
</table>
<hr/>

<div>
    <a href='/edit-hotel/new'>Add new hotel</a>
</div>

