Hotels Entries:
<br />

<dl>
    <?php
    foreach ($this->entries as $entry) : ?>
    	<dt><?=$this->escape($entry->name) ?></dt>
        <dd><?=$this->escape($entry->address) ?></dd>
        <dd><?=$this->escape($entry->stars) ?></dd>
    <?php
    endforeach ?>
</dl>

<?php
$this->headTitle('ZF Example');
$this->placeholder('title')->set('Home page');

if ($this->auth) {
    echo 'The user is authenticated!';
} else {
    echo 'The authentication is disabled';
}
?>
<br>
<br>
<a href="/home/logout">Logout</a>