<b>welcome <?php echo Zend_Auth::getInstance()->getIdentity();?> </b>
<br />
<hr/>
<h2>Hotels for user '<?php echo $this->user->getUsername()?>' are:</h2>
<br />

<form enctype="application/x-www-form-urlencoded" method="post" action="/change-hotel-ownership/save?id=<?=$this->user->getId() ?>">
<table>
<thead>
<tr>
     <th>Ownership</th>
     <th>Address</th>
     <th>Stars</th>
     <th>Edit</th>
  </tr>
</thead>
    <?php var_dump($this->checklist);
    foreach ($this->entries as $entry) : ?>
    	<tr>
    	    
            <td>
                <input type="checkbox" name="check_list[]" value="<?=$this->escape($entry->getId())?>" <?php echo $this->checklist[$entry->getId()]?>> <?=$this->escape($entry->name)?></input> 
            </td>
            <td><?=$this->escape($entry->address) ?></td>
            <td><?=($entry->stars !== ''? str_repeat('*',$entry->stars): "no stars") ?></td> 
    	    <td>
    	       <a href='edit-hotel?id=<?=$this->escape($entry->getId())?>'>edit</a>
            </td> 
        </tr>
    <?php
    endforeach ?>
</table>

<hr/>

<input type="submit" name="save" value="Save"></input>
</form>
