<b>welcome <?php echo Zend_Auth::getInstance()->getIdentity();?> </b>
<br />
<hr/>
<h2>Users are:</h2>
<br />

<table>
<thead>
<tr>
     <th>Username</th>
     <th>Password</th>
     <th>Email</th>
     <th>Role</th>
     <th>Hotels</th>
  </tr>
</thead>
    <?php
    foreach ($this->entries as $entry) : ?>
    	<tr>
    	   <td>
    	       <a href='edit-user?id=<?=$this->escape($entry->getId())?>'><?=$this->escape($entry->getUsername())?></a>
            </td> 
            <td><?=$this->escape($entry->getPassword()) ?></td>
            <td><?=$this->escape($entry->getEmail())?></td> 
            <td><?=$this->escape($entry->getRole())?></td> 
    	    <td><a href='/change-hotel-ownership?id=<?=$this->escape($entry->getId())?>'>[<!-- 
             --><?php foreach ($entry->getHotels() as $hotel) : ?><!-- 
             --><?=$this->escape($hotel->getName()); ?>
                                   
            <?php endforeach ?>]</a>
            </td>
        </tr>
    <?php
    endforeach ?>
</table>
<hr/>

<div>
    <a href='/edit-user/new'>Add new user</a>
</div>

